body, ul, li, p {
	margin: 0px;
	padding: 0px;
	list-style: none;
	font-size: 1.2rem;
	font-family: Arial;
}

body {
	width: 100vw;
	height: 100vh;
	background-color: #1d1e20;
}

.header {
	background: #313131;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	align-items: center;
	padding: 20px;
}

main {
	width: 80%;
	max-width: 800px;
	margin: auto 0;
	align-self: center;
}

main .perfil {
	min-height: 70vh;
	display: flex;
	justify-content: space-between;
	padding-top: 5px;
}

.perfil-text {
	color: aliceblue;
}

a {
	text-decoration: none;
	color: white;
}

.menu {
	display: flex;
	color: white;
	width: 80%;
}

.menu li a {
	margin-left: 10px;
	padding: 10px;
}

.menu li:hover {
	cursor: pointer;
}

.myImage {
	width: 200px;
	padding: 10px;
	border-radius: 15%;
}
